@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #000;
}

.video-Container {
    width: 285px;
    height: 200px;
    background-color: gray;
    margin-top: 10px;
    display: inline-block;
}

.img-wrapper {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: left;
}

.cam {
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: left;
    width: 30px;
    height: 30px;
}

.mic {
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: left;
    width: 30px;
    height: 30px;
    padding-left: 50px;
}

.popup {
    padding: 10px;
    min-width: 300px;
    min-height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    z-index: -1;
    /* 1px higher than the overlay layer */
    opacity: 0;
}

.popup {
    transition: 0.4s;
}

.overlay_canves {
    content: "";
    position: fixed;
    /* could also be absolute */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: 0.5s;
}

.overlay_popup.popup-open .overlay_canves,
.popup-open .popup {
    opacity: 1;
    z-index: 11
}

.close_btn {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 10px;
    color: #000;
    outline: none !important;
    text-shadow: none;
    min-width: 1px;
    font-size: 21px;
    color: #8C8C8C;
}