@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700";
body {
    font-family: 'Montserrat', sans-serif;
    background: #001e6f;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #000;
}

.video-Container {
    width: 285px;
    height: 150px;
    background-color: #001e6f;
    margin-top: 10px;
    display: inline-block;
    object-fit: contain;
    font-size: 12px;
    color: #fff;
}

.img-wrapper {
    width: 30px;
    height: 30px;
    padding-left: 50px;
}

.nametxt {
    font-size: 12px;
}

.camButton {
    background-image: url(images/cam-on.svg);
    font-size: 0;
}

.micButton {
    background-color: grey;
    font-size: 0;
}

.leaveButton {
    background-color: green;
    margin-left: 150px;
    font-size: 0;
}

.embeed {
    object-fit: contain;
    width: 1309px;
    height: 480px;
}

.popup {
    padding: 10px;
    min-width: 300px;
    min-height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    z-index: -1;
    /* 1px higher than the overlay layer */
    opacity: 0;
}

.popup {
    transition: 0.4s;
}

.overlay_canves {
    content: "";
    position: fixed;
    /* could also be absolute */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: 0.5s;
}

.overlay_popup.popup-open .overlay_canves,
.popup-open .popup {
    opacity: 1;
    z-index: 11
}

.close_btn {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 10px;
    color: #000;
    outline: none !important;
    text-shadow: none;
    min-width: 1px;
    font-size: 21px;
    color: #8C8C8C;
}